:root {
    --primary50: #F6F6F6;
    --primary100: #EEEEEE;
    --primary200: #E2E2E2;
    --primary300: #CBCBCB;
    --primary400: #AFAFAF;
    --primary500: #757575;
    --primary600: #545454;
    --primary700: #333333;
    --accent50: #EEF3FE;
    --accent100: #D4E2FC;
    --accent200: #A0BFF9;
    --accent300: #5B91F4;
    --accent400: #276EF1;
    --accent500: #1E54B7;
    --accent600: #174291;
    --accent700: #102C60;
    --negative50: #FDF0EF;
    --negative100: #FADBD7;
    --negative200: #F4AFA7;
    --negative300: #EB7567;
    --negative400: #D44333;
    --negative500: #AE372A;
    --negative600: #892C21;
    --negative700: #5C1D16;
    --positive50: #F0F9F4;
    --positive100: #DAF0E3;
    --positive200: #AEDDC2;
    --positive300: #73C496;
    --positive400: #3AA76D;
    --positive500: #368759;
    --positive600: #2B6B46;
    --positive700: #1C472F;
    --warning50: #FEF3EF;
    --warning100: #FBE2D6;
    --warning200: #F7BFA5;
    --warning300: #F19164;
    --warning400: #ED6E33;
    --warning500: #B45427;
    --warning600: #8E421F;
    --warning700: #5F2C14;
    --mono100: #FFFFFF;
    --mono200: #F6F6F6;
    --mono300: #EEEEEE;
    --mono400: #E2E2E2;
    --mono500: #CBCBCB;
    --mono600: #AFAFAF;
    --mono700: #757575;
    --mono800: #545454;
    --mono900: #333333;
    --mono1000: #000000;
}

[data-theme="dark"] {
    --primary50: #F6F6F6;
    --primary100: #EEEEEE;
    --primary200: #E2E2E2;
    --primary300: #CBCBCB;
    --primary400: #AFAFAF;
    --primary500: #757575;
    --primary600: #545454;
    --primary700: #333333;
    --accent50: #EEF3FE;
    --accent100: #D4E2FC;
    --accent200: #A0BFF9;
    --accent300: #5B91F4;
    --accent400: #276EF1;
    --accent500: #1E54B7;
    --accent600: #174291;
    --accent700: #102C60;
    --negative50: #FDF0EF;
    --negative100: #FADBD7;
    --negative200: #F4AFA7;
    --negative300: #EB7567;
    --negative400: #D44333;
    --negative500: #AE372A;
    --negative600: #892C21;
    --negative700: #5C1D16;
    --positive50: #F0F9F4;
    --positive100: #DAF0E3;
    --positive200: #AEDDC2;
    --positive300: #73C496;
    --positive400: #3AA76D;
    --positive500: #368759;
    --positive600: #2B6B46;
    --positive700: #1C472F;
    --warning50: #FEF3EF;
    --warning100: #FBE2D6;
    --warning200: #F7BFA5;
    --warning300: #F19164;
    --warning400: #ED6E33;
    --warning500: #B45427;
    --warning600: #8E421F;
    --warning700: #5F2C14;
    --mono100: #CBCBCB;
    --mono200: #AFAFAF;
    --mono300: #757575;
    --mono400: #545454;
    --mono500: #333333;
    --mono600: #292929;
    --mono700: #1F1F1F;
    --mono800: #141414;
    --mono900: #111111;
    --mono1000: #000000;
}



.container {
    width: 100%;
}

.container-sm {
    max-width: 640px;
}

.container-md {
    max-width: 768px;
}

.container-lg {
    max-width: 1024px;
}

.container-xl {
    max-width: 1280px;
}

.container-2xl {
    max-width: 1536px;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.object-contain {
    -o-object-fit: contain;
    object-fit: contain;
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.object-fill {
    -o-object-fit: fill;
    object-fit: fill;
}

.object-none {
    -o-object-fit: none;
    object-fit: none;
}

.object-scale-down {
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.object-bottom {
    -o-object-position: bottom;
    object-position: bottom;
}

.object-center {
    -o-object-position: center;
    object-position: center;
}

.object-left {
    -o-object-position: left;
    object-position: left;
}

.object-left-bottom {
    -o-object-position: left bottom;
    object-position: left bottom;
}

.object-left-top {
    -o-object-position: left top;
    object-position: left top;
}

.object-right {
    -o-object-position: right;
    object-position: right;
}

.object-right-bottom {
    -o-object-position: right bottom;
    object-position: right bottom;
}

.object-right-top {
    -o-object-position: right top;
    object-position: right top;
}

.object-top {
    -o-object-position: top;
    object-position: top;
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-x-visible {
    overflow-x: visible;
}

.overflow-y-visible {
    overflow-y: visible;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.static {
    position: static;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-col-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.flex-nowrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
}

.flex-auto {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.flex-initial {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.flex-none {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}

.flex-grow-0 {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.flex-grow {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.flex-shrink-0 {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.flex-shrink {
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

.justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.justify-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.justify-items-auto {
    justify-items: auto;
}

.justify-items-start {
    justify-items: start;
}

.justify-items-end {
    justify-items: end;
}

.justify-items-center {
    justify-items: center;
}

.justify-items-stretch {
    justify-items: stretch;
}

.justify-self-auto {
    -ms-grid-column-align: auto;
    justify-self: auto;
}

.justify-self-start {
    -ms-grid-column-align: start;
    justify-self: start;
}

.justify-self-end {
    -ms-grid-column-align: end;
    justify-self: end;
}

.justify-self-center {
    -ms-grid-column-align: center;
    justify-self: center;
}

.justify-self-stretch {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
}

.content-center {
    -ms-flex-line-pack: center;
    align-content: center;
}

.content-start {
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.content-end {
    -ms-flex-line-pack: end;
    align-content: flex-end;
}

.content-between {
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.content-around {
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}

.content-evenly {
    -ms-flex-line-pack: space-evenly;
    align-content: space-evenly;
}

.items-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.items-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.items-baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.items-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.self-auto {
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
}

.self-start {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.self-end {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.self-center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.self-stretch {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}

.place-content-center {
    place-content: center;
}

.place-content-start {
    place-content: start;
}

.place-content-end {
    place-content: end;
}

.place-content-between {
    place-content: space-between;
}

.place-content-around {
    place-content: space-around;
}

.place-content-evenly {
    place-content: space-evenly;
}

.place-content-stretch {
    place-content: stretch;
}

.place-items-auto {
    place-items: auto;
}

.place-items-start {
    place-items: start;
}

.place-items-end {
    place-items: end;
}

.place-items-center {
    place-items: center;
}

.place-items-stretch {
    place-items: stretch;
}

.place-self-auto {
    place-self: auto;
}

.place-self-start {
    place-self: start;
}

.place-self-end {
    place-self: end;
}

.place-self-center {
    place-self: center;
}

.place-self-stretch {
    place-self: stretch;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 0.75rem;
}

.p-4 {
    padding: 1rem;
}

.p-5 {
    padding: 1.25rem;
}

.p-6 {
    padding: 1.5rem;
}

.p-7 {
    padding: 1.75rem;
}

.p-8 {
    padding: 2rem;
}

.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: 0.25rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.pt-3 {
    padding-top: 0.75rem;
}

.pt-4 {
    padding-top: 1rem;
}

.pt-5 {
    padding-top: 1.25rem;
}

.pt-6 {
    padding-top: 1.5rem;
}

.pt-7 {
    padding-top: 1.75rem;
}

.pt-8 {
    padding-top: 2rem;
}

.pr-0 {
    padding-right: 0;
}

.pr-1 {
    padding-right: 0.25rem;
}

.pr-2 {
    padding-right: 0.5rem;
}

.pr-3 {
    padding-right: 0.75rem;
}

.pr-4 {
    padding-right: 1rem;
}

.pr-5 {
    padding-right: 1.25rem;
}

.pr-6 {
    padding-right: 1.5rem;
}

.pr-7 {
    padding-right: 1.75rem;
}

.pr-8 {
    padding-right: 2rem;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.pb-3 {
    padding-bottom: 0.75rem;
}

.pb-4 {
    padding-bottom: 1rem;
}

.pb-5 {
    padding-bottom: 1.25rem;
}

.pb-6 {
    padding-bottom: 1.5rem;
}

.pb-7 {
    padding-bottom: 1.75rem;
}

.pb-8 {
    padding-bottom: 2rem;
}

.pl-0 {
    padding-left: 0;
}

.pl-1 {
    padding-left: 0.25rem;
}

.pl-2 {
    padding-left: 0.5rem;
}

.pl-3 {
    padding-left: 0.75rem;
}

.pl-4 {
    padding-left: 1rem;
}

.pl-5 {
    padding-left: 1.25rem;
}

.pl-6 {
    padding-left: 1.5rem;
}

.pl-7 {
    padding-left: 1.75rem;
}

.pl-8 {
    padding-left: 2rem;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-7 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.m-auto {
    margin: auto;
}

.m-0 {
    margin: 0;
}

.m-1 {
    margin: 0.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: 0.75rem;
}

.m-4 {
    margin: 1rem;
}

.m-5 {
    margin: 1.25rem;
}

.m-6 {
    margin: 1.5rem;
}

.m-7 {
    margin: 1.75rem;
}

.m-8 {
    margin: 2rem;
}

.mt-auto {
    margin-top: auto;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-5 {
    margin-top: 1.25rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-7 {
    margin-top: 1.75rem;
}

.mt-8 {
    margin-top: 2rem;
}

.mr-auto {
    margin: right;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 0.25rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr-3 {
    margin-right: 0.75rem;
}

.mr-4 {
    margin-right: 1rem;
}

.mr-5 {
    margin-right: 1.25rem;
}

.mr-6 {
    margin-right: 1.5rem;
}

.mr-7 {
    margin-right: 1.75rem;
}

.mr-8 {
    margin-right: 2rem;
}

.mb-auto {
    margin-bottom: auto;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mb-7 {
    margin-bottom: 1.75rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.ml-auto {
    margin-left: auto;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: 0.25rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml-3 {
    margin-left: 0.75rem;
}

.ml-4 {
    margin-left: 1rem;
}

.ml-5 {
    margin-left: 1.25rem;
}

.ml-6 {
    margin-left: 1.5rem;
}

.ml-7 {
    margin-left: 1.75rem;
}

.ml-8 {
    margin-left: 2rem;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.mx-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.mx-7 {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}

.mx-8 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-7 {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.space-x-0 {
    width: 0;
}

.space-x-1 {
    width: 0.25rem;
}

.space-x-2 {
    width: 0.5rem;
}

.space-x-3 {
    width: 0.75rem;
}

.space-x-4 {
    width: 1rem;
}

.space-x-5 {
    width: 1.25rem;
}

.space-x-6 {
    width: 1.5rem;
}

.space-x-7 {
    width: 1.75rem;
}

.space-x-8 {
    width: 2rem;
}

.space-y-0 {
    height: 0;
}

.space-y-1 {
    height: 0.25rem;
}

.space-y-2 {
    height: 0.5rem;
}

.space-y-3 {
    height: 0.75rem;
}

.space-y-4 {
    height: 1rem;
}

.space-y-5 {
    height: 1.25rem;
}

.space-y-6 {
    height: 1.5rem;
}

.space-y-7 {
    height: 1.75rem;
}

.space-y-8 {
    height: 2rem;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.h-18 {
    height: 4.5rem;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

.z-5 {
    z-index: 5;
}

.bg-white {
    background-color: white;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.flex-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.space-y-1 {
    text-align: center;
    height: 1rem;
}

.space-x-1 {
    text-align: center;
    width: 1rem;
}

.space-x-0-5 {
    text-align: center;
    width: 0.5rem;
}

/* Rules for sizing the icons. */
.md-18 { font-size: 1.125rem; }
.md-24 { font-size: 1.5rem; }
.md-30 { font-size: 1.875rem; }
.md-36 { font-size: 2.25rem; }
.md-48 { font-size: 3rem; }

/* Rules for using icons as black on a light background. */
.md-dark { color: rgba(0, 0, 0, 0.54); }
.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.md-light { color: rgba(255, 255, 255, 1); }
.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }